h1 {
  margin-block-start: 15px;
  margin-block-end: 15px;
  margin-left: 20px;
}

.fab-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.fab-button button {
  background-color: #121B41;
}

.fab-button button mat-icon {
  color: #ffffff;
}

.edit-button {
  margin-right: 5px;
}

.control {
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
}

.control mat-icon {
  color: #121B41;
}

.control mat-icon:hover{
  color: #8b745b;
}
