<agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false">

  <agm-marker 
      *ngFor="let m of markers"
      [latitude]="m.payload.doc.data().location.geopoint.latitude"
      [longitude]="m.payload.doc.data().location.geopoint.longitude"
      [label]="R">
      
    <agm-info-window>
      {{ m.payload.doc.data().type }} - {{ m.payload.doc.data().report }}
      <br>
      <a routerLink="reports">
        <span>More Info</span>
      </a>
    </agm-info-window>
    
  </agm-marker>
  
</agm-map>