table{
    width:100%;
}

button {
  margin: 0.5rem;
}

a{
  color: #121B41;
}

.raised-button{
  padding: 7px;
  padding-left:13px;
  padding-right:13px;
  font-size:20px;
  color:white;
    
}



th.mat-header-cell{
  text-align: center;
}

.mat-cell{
  text-align: center;
}

#delete-icon{
  color: #121B41;
}

#delete-icon:hover{
  color: #AA0000;
}


#delete-icon:hover{
  cursor: pointer;
}

#overlay-confirm-delete{
  width:40%;
  height:20%;
  position: fixed;
  left:30%;
  top:20%;
  padding: 2%;
  // background-color: white;
  // border:2px solid black;
  visibility: hidden;
}

.confirm{
  font-size: 30px;
}

.confirm-msg{
  padding-top:25px;
  font-size: 25px;
}

.confirm-option{
  color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left:30%;
  height: 100%;
  width: 40%;
  border-radius: 5px;
  background-color: #3f51b5;
  font-size: 1.8em;
  
}

.confirm-option:hover{
  background-color: rgba(#3f51b5,0.7);
  cursor: pointer;
}

.click-confirm{
  display: inline-block;
  width:50%;
  height:40px;
  //  border:1px solid black;
  text-align: center;
  vertical-align: center;
  background-color: white;
}



.confirm-options{
  position :absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  left:0px;
  bottom:20px;
}

.hide-overlay-btn{
  z-index: 101;
  position: absolute;
  border:0px;
  right:3px;
  top:3px;
  
  background-color: rgba(255,255,255,0);
  border-radius: 2px;
  width: 50px;
  height:50px;
  font-size: 2em;
}
.hide-overlay-btn:hover{
cursor: pointer;
background-color: rgba(0,0,0,0.05);

}

mat-icon:hover{
  color:#AA0000 ;
}