
.linkClass{
  color:white;
  text-decoration: none;
}

.header-views{
  margin-left: 2.5%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;  
  zoom:1;
  display: inline-block;
  width: 30%;  
  height: 40px;
  background-color:#3f51b5;
  border-right: 0px solid black;
  border-radius: 20px;
  color:white;
  font-size: 1.5em;
}

.inner-span{
  vertical-align: middle;
}


.header-views:hover{
  cursor: pointer;
  background-color:#5F6dc2;;
}