.shift
{
    position: relative;
    padding-top:5%;
    padding-bottom: 5%;
    margin-left: 37%;
   width:26%;
   border-radius: 10px;
   text-align: center;
   margin-top: 20px;
   border-top: 3px solid black;
   border-bottom: 3px solid black;
   border-left:  1px solid black;
   border-right:  1px solid black;
   box-shadow: 5px 5px 10px  #3a3a3a;
   font-size: 1.2em;
   background-color: rgba(0,50,0,1);
   letter-spacing: 3px;
   color:white;
}
