<div class="page-container">
    <mat-card class="content-card mat-elevation-z8 animated slideInUp">
      <mat-card-content>
        <form [formGroup]="editForm" #formDir="ngForm" (ngSubmit)="updateUser()">
          <div class="header-div">
            <div class="header-text">
            <div><h2>Edit User</h2></div>
            <div> <h2 id="titlename"></h2></div>
            <div><h3 id="edited"></h3></div>
            </div>
            <div id="image-div" class="img-icon" ><img (onload)="showImg()" id="picture" src="" style="display:hidden;">
              <label color="primary" for="img-input" class="custom-upload mat-caption"><mat-icon>cloud_upload</mat-icon>Upload Picture</label>
              <input  type="file" id="img-input" accept="image/" (change)="onFileSelected($event)">
            </div>
          </div>
          <div>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-icon matPrefix>email</mat-icon>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" type="email" id="email" class="form-control" formControlName="email" required>
                <mat-error *ngIf="editForm.get('email').hasError('required')">Email is required.</mat-error>
                <mat-error *ngIf="editForm.get('email').hasError('email')">Email must be valid.</mat-error>
              </mat-form-field>
            </div>
            
            <div class="form-group">
              <mat-form-field appearance="outline">
                  <mat-icon matPrefix>email</mat-icon>
                  <mat-label>Name</mat-label>
                <input matInput placeholder="Name" type="text" id="name" class="form-control" formControlName="name" required>
                <mat-error *ngIf="editForm.get('name').hasError('required')">Name is required.</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Number</mat-label>
                <input matInput placeholder="Number" type="text" id="number" class="form-control" formControlName="number" required>
                <mat-error *ngIf="editForm.get('name').hasError('required')">Number is required.</mat-error>
              </mat-form-field>
            </div>
  
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Active</mat-label>
                <input matInput placeholder="Active" type="text" id="active" class="form-control" formControlName="active" required>
                <mat-error *ngIf="editForm.get('name').hasError('required')">Active is required.</mat-error>
                <mat-error *ngIf="editForm.get('active').hasError('pattern')">Active must be boolean(true or false).</mat-error>
                <mat-error *ngIf="editForm.get('active').hasError('maxLength')">Active must be boolean(true or false).</mat-error>
              </mat-form-field>
            </div>
  
            
  
          </div>
          <button mat-raised-button color="primary" type="submit" class="button" [disabled]="editForm.invalid" class="register-button">Apply Changes</button>
          
          
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  