.page-container {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img-icon{
display: inline-block;
position: relative;
width:18%;
top: 2%;
left:62%;
}

#img-input{
display: none;
}
.custom-upload mat-icon{
padding-right: 5px;
}
.custom-upload{
border:1px solid white;
justify-content: center;
color: white;
border-radius: 6px;
padding: 6px;
display: flex;
align-items: center;
font-size: 20px;  
cursor: pointer;
letter-spacing: 1px;
background-color: #3f51b5;

}
.custom-upload:active{
background-color: rgba(#3f51b5,0.90); 
}

mat-card.content-card.mat-elevation-z8{
width: 65%

}

mat-card .form-group mat-label{
font-size: 20px;
}

mat-card .form-group input{
font-size: 18px;
color:rgba(0,0,0, 0.7)
}

.raised-button{
padding: 8px;
padding-left:18px;
padding-right:18px;
font-size:25px;
color:white;
  
}




.right-button{
position: absolute;
right: 15px;
}

.img-icon img{
position: relative;
width: 100%;

}

.header-div{
position: relative;
padding-bottom: 20px;
width:100%;
min-height: 200px;  
overflow: hidden;
}
.header-text{
// position: fixed;
position: relative;
top: 0px;
width:20%;
vertical-align: top;
display: inline-block;
}

.content-card {
  margin-top: 20px;
  width: 400px;
  max-width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-logo {
  width: 200px;
  margin-bottom: 15px;
}
h2{
  font-size: 30px;
}

h3 {
  width: 100%;
  text-align: center;
}

h3#edited{
  width:default;
  text-align :left;
}

mat-card-content {
  width: 100%;
}

form {
  /*width: 400px;*/
  min-width: 100%;
}

.form-group {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

mat-form-field mat-icon {
  margin-right: 10px;
}

.login-button {
  width: 100%;
}