<mat-drawer-container class="" [hasBackdrop]="false">
  <mat-drawer #drawer mode="side" [opened]="true" *ngIf="loggedIn">
    <div class="drawer-container">
      <img src="assets/images/erplogo_trans.png" alt="ERP Logo" class="drawer-logo">
      <router-outlet class="nav" name="nav"></router-outlet>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <main>
      <div class="main-container">
        <router-outlet></router-outlet>
      </div>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
