.page-container {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }


  .content-card {
    margin-top: 20px;
    width: 400px;
    max-width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .login-logo {
    width: 200px;
    margin-bottom: 15px;
  }
  
  h3 {
    width: 100%;
    text-align: center;
  }
  
  mat-card-content {
    width: 100%;
  }
  
  form {
    /*width: 400px;*/
    min-width: 100%;
  }

  h3#success-msg{
    text-align: left;
    color: #121B42;
    
  }
  
  .form-group {
    width: 100%;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  mat-form-field mat-icon {
    margin-right: 10px;
  }
  
  .login-button {
    width: 100%;
  }
  h2{
    font-size: 30px;
  }
  
  mat-card.content-card.mat-elevation-z8{
    width: 65%

  }

  mat-card .form-group mat-label{
    font-size: 20px;
  }

  mat-card .form-group input{
    font-size: 23px;
    color:rgba(0,0,0, 0.7)
  }


  .raised-button{
    padding: 10px;
    padding-left:18px;
    padding-right:18px;
    font-size:25px;
    color:white;
      
  }
  

  
  
  .right-button{
    padding: 8px;
    padding-left:15px;
    padding-right:15px;
    position: absolute;
    right: 15px;
  }