:host {
  width: 100%;
  max-width: 100%;
}

nav {
  max-width: 100%;
  align-self: flex-start;
  overflow: hidden;
}

nav ul {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  margin-top: 30px;
  list-style-type: none;
}

nav ul li a {
  max-width: 100%;
  padding-left: 10px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 1.05rem;
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: #FAFAFA;
}

nav ul li a:hover {
  border-left-color: #121B41;
  background-color: #DADADA;
  cursor: pointer;
}

span {
  margin-top: 5px;
}

mat-icon {
  margin-right: 10px;
}

.bottom{
  position: absolute;
  display: inline-block;
  bottom:0;
  width: 100%;
  
}