<nav>
  <ul>
    <li>
      <a routerLink="dashboard">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="rewards">
        <mat-icon>card_giftcard</mat-icon>
        <span>Rewards</span>
      </a>
    </li>
    <li>
      <a routerLink="shifts">
        <mat-icon>assignment</mat-icon>
        <span>Shifts</span>
      </a>
    </li>
    <li>
      <a routerLink="shift/feedback">
        <mat-icon>assignment</mat-icon>
        <span>Shift Feedback</span>
      </a>
    </li>
    <li>
      <a routerLink="reports">
        <mat-icon>warning</mat-icon>
        <span>Reports</span>
      </a>
    </li>
    <li>
      <a routerLink="notifications">
        <mat-icon>notification_important</mat-icon>
        <span>Report Notifications</span>
      </a>
    </li>
    <li>
      <a routerLink="users">
        <mat-icon>person</mat-icon>
        <span>Rangers</span>
      </a>
    </li>
    <li>
      <a routerLink="markers">
        <mat-icon>add_location</mat-icon>
        <span>Markers</span>
      </a>
    </li>
    <li>
      <a routerLink="positions">
        <mat-icon>my_location</mat-icon>
        <span>Ranger Positions</span>
      </a>
    </li>
    <li>
      <a (click)="logout()">
        <mat-icon>undo</mat-icon>
        <span>Logout</span>
      </a>
    </li>
  </ul>
</nav>
