<nav>
  <ul>
    <li>
      <a routerLink="dashboard">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="shifts">
        <mat-icon>assignment</mat-icon>
        <span>Shifts</span>
      </a>
    </li>
    <li>
      <a routerLink="reports">
        <mat-icon>warning</mat-icon>
        <span>Reports</span>
      </a>
    </li>
    <li>
      <a routerLink="users">
        <mat-icon>person</mat-icon>
        <span>Rangers</span>
      </a>
    </li>
    <li>
      <a routerLink="markers">
        <mat-icon>add_location</mat-icon>
        <span>Markers</span>
      </a>
    </li>
    <li>
      <a routerLink="positions">
        <mat-icon>my_location</mat-icon>
        <span>Ranger Positions</span>
      </a>
    </li>
  </ul>
</nav>
