<div class="page-container">
  <mat-card class="content-card mat-elevation-z8 animated slideInUp">
      <mat-card-content *ngIf="report">
          <p>
            Ranger's name : <strong> {{ report.name }} </strong>
            <br>
            Ranger's email address: <strong> {{ report.email }} </strong>
            <br>
            Ranger's phone number: <strong> {{ report.number }} </strong>
          </p>
      </mat-card-content>
      <a routerLink="">
          <button mat-raised-button color="primary">Edit Ranger details</button>
        </a>
    </mat-card>
</div>